@font-face {
  font-family: "Prata";
  src: url("/assets/fonts/prata-regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-family: "Arial", sans-serif;
  --second-family: "Prata", sans-serif;

  --text-color: #fff;
  --bg-color-first: #222222;
  --bg-color-second: #282829;
  --second-color: #d5c9be;
  --third-color: #55565a;
  --fourth-color: #405d65;
  --fifth-color: #38535d;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: var(--text-color);
  transition: all 0.3s ease;
}

button:hover {
  background: var(--second-color);
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color-first);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: var(--bg-color-first);
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid var(--third-color);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--third-color);
}

.container {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100vw;
  min-height: 100px;
  background-color: transparent;
  z-index: 10;
  transition: all 0.3s ease;
}

.header.scrolled {
  background-color: var(--bg-color-second);
}

.header__nav {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 40px clamp(10px, 100vw * 170 / 1920, 170px);
  gap: 10%;
  transition: all 0.3s ease;
}

.header__nav.scrolled {
  justify-content: space-between;
}

.logo {
  font-family: var(--second-family);
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.logo:hover {
  color: var(--second-color);
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.menu__link {
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.menu__link:hover {
  color: var(--second-color);
}

.banner {
  width: 100vw;
  background-color: var(--bg-color-first);
}

.banner-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.banner__text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 30px;
  padding-left: clamp(10px, 100vw * 170 / 1920, 170px);
}

.title {
  font-family: var(--second-family);
  font-size: 80px;
  line-height: 120%;
  /* margin-top: 150px; */
}

.subtitle {
  font-size: 50px;
  line-height: 120%;
  text-transform: lowercase;
}

.promo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.promo-item {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  padding-left: 54px;
  font-size: 24px;
  line-height: 110%;
  text-transform: lowercase;
}

.promo-item::before {
  position: absolute;
  content: "";
  width: 39px;
  height: 37px;
  top: 16px;
  left: 0;
  background-image: url("/assets/icons/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.num {
  font-family: var(--second-family);
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-top: 4px;
}

.promo-btn {
  width: 190px;
  height: 96px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--bg-color-first);
}

.banner__img {
  width: 40%;
  height: 1000px;
  background-image: url("/assets/img/about.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frame {
  width: 100vw;
  min-height: 100px;
  background-color: var(--bg-color-second);
}

.about,
.form {
  width: 100vw;
  background-color: var(--bg-color-second);
}

.about-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
}

.about__img {
  width: 30%;
  height: 724px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-left {
  background-image: url("/assets/img/promo1.webp");
}

.img-right {
  background-image: url("/assets/img/promo2.webp");
}

.about__text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

/* .benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.benefit-item {
  position: relative;
  font-size: 24px;
  line-height: 140%;
  padding: 40px 0 40px 80px;
  border-bottom: 1px solid var(--third-color);
}

.small {
  font-size: 20px;
}

.benefit-item:last-child {
  border-bottom: none;
}

.benefit-item::before {
  position: absolute;
  content: "";
  width: 58px;
  height: 47px;
  top: 30%;
  left: 0;
  background-image: url("/assets/icons/exclude.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-btn {
  width: 100%;
  padding: 32px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--bg-color-second);
}

.form-item {
  padding: 0 clamp(10px, 100vw * 170 / 1920, 170px);
}

.form-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  border-radius: 30px;
  background-color: var(--text-color);
}

.form__submit {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  gap: 45px;
  margin: 70px 0 70px 130px;
}

.form-header {
  font-family: var(--second-family);
  font-size: 54px;
  line-height: 110%;
  color: var(--fifth-color);
}

.form-group {
  width: 100%;
  padding: 14px 0 14px 40px;
  margin-bottom: 20px;
  border: 2px solid #d6d6d6;
  border-radius: 4px;
  font-size: 24px;
  line-height: 150%;
  color: var(--third-color);
  opacity: 0.7;
}

.form-group input {
  border: none;
  outline: none;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: transparent;
}

.form-group--checkbox {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
  margin-bottom: 30px;
  border: none;
  font-size: 18px;
  line-height: 130%;
  color: var(--third-color);
}

.form-group--checkbox input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 2px solid var(--fourth-color);
  accent-color: black;
  cursor: pointer;
}

.form-group--checkbox label {
  cursor: pointer;
}

.form-btn {
  width: 100%;
  border-radius: 4px;
  padding: 32px 0;
  background: var(--bg-color-second);
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
  color: #fff;
}

.form-btn:hover {
  background-color: var(--fourth-color);
}

.form__img {
  position: relative;
  width: 38%;
  height: auto;
  border-radius: 0 30px 30px 0;
  background-image: url("/assets/img/form.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form__img::after {
  position: absolute;
  content: "";
  width: 390px;
  height: 370px;
  top: 0;
  left: 0;
  background-image: url("/assets/img/person-photoaidcom--photoaid-remove-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (width < 1380px) {
  .header__nav {
    padding: 30px clamp(10px, 100vw * 170 / 1920, 170px);
    gap: 20%;
  }

  .menu__list {
    flex-direction: column;
    gap: 4px;
  }
}

/* .responsive-img {
  width: 760px;
  height: 1000px;
}

@media (max-width: 320px) {
  .responsive-img {
    width: 100%;  
    height: auto; 
  }
} */
